.App {
  background-color: #33D35E;
}

.header {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}

.header__link {
  display: inline-block;
}

.header__link-img {
  display: block;
  width: 139px;
  height: 20px;
  transition: transform 0.3s;
}

.header__link-img:hover {
  transform: scale(1.1);
}

.header__nav{
  width: 331px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__nav-list-link {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.header__nav-list-link:hover {
  color: #000;
}

.header__nav-list-link:active {
  color: rgb(88, 88, 88);
}

.header__buttun {
  padding: 8px 35px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.header__buttun:hover {
  opacity: 0.4;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

.header__buttun:active {
  opacity: 1;
  background: linear-gradient(135deg, #33D35E 0%, #00ccff 99.58%);
}

.header__humburger {
  display: none;
}

@media only screen and (max-width:680px) {

  .header__nav {
    display: none;
  }

  .header__buttun  {
    display: none;
  }

  .header__humburger {
    display: inline-block;
  }
}